[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mize"]
	path = mize
	url = https://github.com/jlmelville/mize
[submodule "RcppHNSW"]
	path = RcppHNSW
	url = https://github.com/jlmelville/rcpphnsw
[submodule "uwot"]
	path = uwot
	url = https://github.com/jlmelville/uwot
